<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.AutomaticTest"
        tools:targetApi="31">
        <activity
            android:name=".entry.EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".list.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".list.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".style.DrawableActivity"
            android:exported="false" />
        <activity
            android:name=".robolectric.RobolectricRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".robolectric.RobolectricResultActivity"
            android:exported="false" />
        <activity
            android:name=".robolectric.VersionActivity"
            android:exported="false" />
    </application>

</manifest>